
/* RecipeList.css */
/* RecipeList.css */

.recipe-list {
    margin-top: 90px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: 87vh; /* Set a fixed height */
    overflow:auto;
    flex-wrap: wrap;
    padding: 0 100px;
}
  
.link-content {
  text-decoration: none; /* Remove underline */
}
  
  /* RecipeCard.css */
  