/* RecipeDetail.css */
.recipe-details-container{
    max-height: 90vh;
    overflow: scroll;
    margin-top: 100px;
}
.recipe-details {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    
  }
  
  .recipe-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  
  .recipe-header-content {
    flex-grow: 1;
  }
  
  .recipe-details h1 {
    font-size: 24px;
    margin: 10px 0;
  }
  
  .recipe-nutrition {
    display: flex;
    flex-direction: column;
  }
  
  .recipe-nutrition div {
    margin-bottom: 10px;
  }
  
  .recipe-nutrition div strong {
    font-weight: bold;
  }
  
  .recipe-image-container {
    text-align: center;
  }
  
  .recipe-image {
    max-width: 150px;
    height: auto;
  }
  
  .recipe-contents {
    border: 1px solid #ccc;
    padding: 20px;
  }
  
  .recipe-details-item {
    margin-bottom: 20px;
  }
  
  .recipe-details-item strong {
    font-weight: bold;
  }
  
  .recipe-details-item ul,
  .recipe-details-item ol {
    margin-top: 10px;
    margin-bottom: 0;
    padding-left: 20px;
  }
  